<div class="container">

  <header>
    <div class="cabecalho"> 

      <div class="cabecalho-pi">
        <img class="icone-ferramenta" src="ferramenta.png">
        <p>Oficina Central</p>
      </div>

      <div class="contador">
        <img src="carro.png">
        Veículos no pátio: {{ veiculosLista.length }}
      </div>

    </div>
  </header>  

  <main>  
    <section class="controle">
      <h1>Controle de Pátio</h1>
      <div class="acoes-menu">
        <div class="visualizacoes">
           
          
            <button class="btn-visualizacao btn-card" 
            [class.ativo]="vizualizacao === 'card'" 
            type="button" 
            (click)="mudarVizualizacao('card')">
              <img src="cartoes.png">
              Cartões
            </button>
          
            <button class="btn-visualizacao btn-tabela" 
            [class.ativo]="vizualizacao === 'tabela'"
            type="button" 
            (click)="mudarVizualizacao('tabela')">
              <img src="tabela.png">
              Tabela
            </button>
          
        </div>
          <button class="btn-cadastrar" type="button" (click)="abrirModal()">
            + Registrar nova entrada
          </button>
        </div>
    </section>
  
  <!--------------------form--------------------------->

@if(modalAberto){
  <div class="modal-fundo">

      <div class="modal">

        <div class="modal-cabecalho">
          <button type="button" (click)="fecharModal()">
            x
          </button>
            <h2>Nova Entrada de Veículo</h2>
            <p>
              Registre o veículo assim que ele entrar no pátio.
            </p>
        </div>
      
        <form #form="ngForm" (ngSubmit)="cadastrarVeiculo()">
          <div class="campo">
            <label for="proprietario">Nome do proprietário</label>
            <input
              [(ngModel)]="proprietario"
              (ngModelChange)="atualizarMensagemErro()"
              [class.input-erro]="!proprietario.trim() && mensagemErro"
              name="proprietario"
              type="text"
              id="proprietario"
              placeholder="Ex: Fulano de Tal"
              required
            />
          </div>

          <div class="campo">
            <label for="placa">Placa do veículo</label>
            <input
              [(ngModel)]="placa"
              (ngModelChange)="atualizarMensagemErro()"
              [class.input-erro]="!placa.trim() && mensagemErro"
              name="placa"
              type="text"
              id="placa"
              placeholder="Ex: ABC1234"
              required
            />
          </div>

          <div class="campo">
            <label for="modelo">Modelo</label>
            <input
              [(ngModel)]="modelo"
              (ngModelChange)="atualizarMensagemErro()"
              [class.input-erro]="!modelo.trim() && mensagemErro"
              name="modelo"
              type="text"
              id="modelo"
              placeholder="Ex: Kwid"
              required
            />
          </div>

          <div class="campo">
            <label for="dataEntrada">Data de entrada</label>
            <input
              [(ngModel)]="dataEntrada"
              (ngModelChange)="atualizarMensagemErro()"
              [class.input-erro]="!dataEntrada.trim() && mensagemErro"
              name="dataEntrada"
              type="date"
              id="dataEntrada"
              required
            />
          </div>
          @if (mensagemErro) {
             <p class="mensagem-erro">{{ mensagemErro }}</p>
            }

          <div class="btns-form">

            <button class="btn-cancelar" type="button" (click)="fecharModal()">Cancelar</button>
            <button class="btn-cadastrar" type="submit">Cadastrar veículo</button>

          </div>
        </form>
      </div>
  </div>  
}  
  <!--------------------fimdoform------------------------>


  @if (veiculosLista.length===0){
    
    <div class="mensagem-vazio">
      <img class="icone-home" src="home.png">
      <p>Pátio vazio no momento</p>

      <p>Nenhum veículo cadastrado ainda. Registre a primeira entrada para começar a acompanhar o pátio.</p>

      <button class="btn-cadastrar" type="button" (click)="(abrirModal())">+ Registrar primeiro veículo</button>
    </div>
  } @else {

    <!--------------------cards--------------------------->

  <div class="lista-veiculos-card">

    @if (vizualizacao ==="card"){
      
      @for (veiculo of veiculosLista; track veiculo.placa) {
        <div class="card">

          
          <div class="card-header">
            <button
              class="btn-apagar btn-fixo"
              type="button"
              (click)="removerVeiculo(veiculo.placa)">
              <img class="icone-lixeira" src="lixeira.png">
            </button>

            <div class="card-mp">
              <p>{{ veiculo.modelo }}</p>

              <div class="usuario">
                <img src="usuario.png">
                <p> {{ veiculo.proprietario }}</p> 
              </div>
            </div>
            
            <div class="card-pd">
            
              <p>{{ veiculo.placa }}</p>
              <p>{{ veiculo.dataEntrada }}</p>

            </div>

          </div>

        </div>    
    }
  } 
    </div>
    <div class="lista-veiculos-tb">
    @if (vizualizacao ==="tabela"){
          <table>
            <thead>
              
              <tr>
                <th>PROPIETÁRIO</th>
                <th>VEÍCULO</th>
                <th>DATA DE ENTRADA</th>
                <th></th>
              </tr>
              
            </thead>
            
            <tbody>

              @for (veiculo of veiculosLista; track veiculo.placa){

              <tr>
                <td>{{ veiculo.proprietario }}</td>

                <td>
                  <div class="modelo">{{ veiculo.modelo }}</div>
                  <div class="placa">{{ veiculo.placa }}</div>
                </td>

                <td>{{ veiculo.dataEntrada }}</td>
                <td>
                  <button 
                  class="btn-apagar "
                    type="button"
                    (click)="removerVeiculo(veiculo.placa)">
                    <img class="icone-lixeira" src="lixeira.png">
                  </button>
                </td>
              </tr>
            }
            </tbody>
          </table>
        }
      </div>  
  
}
  
    <!-------------------fimCard------------------------->
</main>
</div>